.xbox {
    background-image: url('xbox.svg');
    height: 100%;
    width: 100%;
    background-image: no-repeat;
}

.icon-pencil:before {
    content: "\e905";
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}
